---
import Layout from "../../layouts/Layout.astro";
import { ChatWithHistory } from "../../components/ChatWithHistory";
---

<Layout title="Chat with AI" badgeText="Beta">
  <p class="text-base mb-12">
    You can ask an AI questions about this website and a few affiliated pages.
    Please beware that this is quite experimental and the performance, stability
    and reliability are still being worked on.
  </p>
  <ChatWithHistory client:only="react" />
</Layout>
