---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <h1 class="text-4xl mb-4">Welcome</h1>
  <p class="text-base">
    Thanks for visting my page! I stumbled on web development by coincidence. I
    was chatting with a stranger at a party, and they mentioned that they were
    going through the
    <a
      class="text-blue-600 visited:text-purple-600"
      href="https://www.freecodecamp.org/"
      target="_blank">freecodecamp</a
    > curriculum to make a career switch. At the time, I was working as a product
    engineer, wearing many different hats. However, throughout the years I became
    conflicted by the lack of technical challeges of my position. Inspired by the
    stranger's story, I thought I'd give freecodecamp a try as well!
    <br />
    <br />
    It was not exactly love at first sight, but by the time I made it to the <code
      >React</code
    > part of the curriculum, I was hooked! I'd always enjoyed software development,
    however I was plagued imposter syndrome. Making steady progress on the curriculum
    started to give me confidence.
    <br />
    <br />
    A few months down the road, I decided I would leave my career, and try my hand
    at being a digital nomad. I did not plan to be earning money, but I felt getting
    through the curriculum would provide a sense of progress and productivity. I
    set sail for Hanoi, Vietnam. The year long backpacking and digital nomading become
    a pivotal point in my life and career. I was able to get through critical parts
    of the curriculum, build a few projects, and even land a contract position. My initial
    projects' <code>Heroku</code> deploys are now dead, but here are a few pictures:
  </p>

  <div class="text-center carousel carousel-center rounded-box my-8 place-content-center">
    <div class="carousel-item">
      <img class="object-contain h-72" src="/about/hanoi/1.jpg" alt="1" />
    </div>
    <div class="carousel-item">
      <img class="object-contain h-72" src="/about/hanoi/2.jpg" alt="2" />
    </div>
    <div class="carousel-item">
      <img class="object-contain h-72" src="/about/hanoi/3.jpg" alt="3" />
    </div>
  </div>
</Layout>
