---
import Layout from "../layouts/Layout.astro";
import tanzimImg from "../assets/tanzim.jpg";
import { Image } from "astro:assets";
---

<Layout title="Home" hideHeader>
  <div class="hero g-base">
    <div class="hero-content flex-col lg:flex-row">
      <div>
        <h1 class="text-5xl font-bold">Hi, I'm Tanzim!</h1>
        <p class="py-6">
          I'm a curious and passionate software engineer from Toronto, Canada.
          Learn about my <a class="badge badge-primary" href={"/work"}>work</a> and
          <a class="badge badge-secondary" href={"/play"}>play</a>, or browse
          through my <a class="badge badge-info" href={"/play/photography/2024"}
            >photography</a
          >.
        </p>
        <p class="py-2">
          You can also ask a <a class="badge badge-info" href={"/chat"}
            >chatbot</a
          > questions about this website.
        </p>
      </div>
      <div class="divider lg:divider-horizontal"></div>
      <Image alt="Tanzim" src={tanzimImg} class="max-w-xs rounded-lg shadow-2xl" />
    </div>
  </div>
</Layout>
