---
import Layout from "../layouts/Layout.astro";
import CodingWrapped from "../components/CodingWrapped.astro";
---

<Layout title="Stats">
  <div class="hero bg-base py-36">
    <h1 class="text-4xl mb-4 mt-4">My top languages used</h1>
    <CodingWrapped />
  </div>
</Layout>
