---
const pages = [
  {
    href: "/",
    label: "Home",
  },
  {
    href: "/work",
    label: "Work",
  },
  {
    href: "/resume",
    label: "Resume",
  },
  {
    href: "/blog",
    label: "Blog",
  },
];
---

<div class="navbar bg-base-100">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost normal-case text-xl">Tanzim Mokammel</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      {
        pages.map((p) => (
          <li>
            <a href={p.href}>{p.label}</a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
