---
import { SunMoon, BotMessageSquare } from "lucide-react";

// TODO: hamburger menu for mobile
const pages = [
  {
    href: "/",
    label: "Home",
  },
  {
    href: "/work",
    label: "Work",
  },
  {
    href: "/play",
    label: "Play",
  },
  {
    href: "/play/photography/2024",
    label: "Photography",
  },
  {
    href: "/blog",
    label: "Blog",
  },
];
---

<!-- desktop nav bar -->
<>
  <div class="hidden lg:flex flex-wrap navbar bg-base-100 mb-8 lg:visible">
    <div class="flex-1">
      <a href="/" class="btn btn-ghost normal-case text-xl">
        <img src="/favicon-32x32.png" alt="logo" />
        <p class="mx-2">Tanzim Mokammel</p>
      </a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        {
          pages.map((p) => (
            <li>
              <a href={p.href}>{p.label}</a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="flex">
      <button
        class="btn btn-ghost btn-accent"
        onclick={`chat_modal.showModal()`}
        ><BotMessageSquare size={24} /></button
      >
      <button
        data-act-class="ACTIVECLASS"
        data-toggle-theme="dracula,light"
        class="btn btn-ghost btn-accent"
      >
        <SunMoon size={24} />
      </button>
    </div>
  </div>
  <!-- mobile nav bar -->
  <div class="lg:hidden mb-4">
    <div class="collapse collapse-arrow">
      <input type="checkbox" />
      <div class="collapse-title">
        <button class="btn btn-ghost normal-case text-xl">
          <img src="/favicon-32x32.png" alt="logo" />
          <p class="mx-2">Tanzim Mokammel</p>
        </button>
      </div>
      <div class="collapse-content">
        <div class="flex my-4">
          <button
            class="btn btn-ghost btn-accent"
            onclick={`chat_modal.showModal()`}
            ><BotMessageSquare size={24} /></button
          >
          <button
            data-act-class="ACTIVECLASS"
            data-toggle-theme="dracula,light"
            class="btn btn-ghost btn-accent"
          >
            <SunMoon size={24} />
          </button>
        </div>
        <div class="flex-none">
          <ul class="menu menu-vertical px-1">
            {
              pages.map((p) => (
                <li>
                  <a href={p.href}>{p.label}</a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</>
