---
import type { FullCarouselImage } from "../types/images";
import PhotoWithModal from "./PhotoWithModal.astro";
const imagePaths: FullCarouselImage[] = Astro.props.imagePaths;
---

<div class="lg:mx-24 grid grid-cols-1 lg:grid-cols-2 gap-8 mb-48">
  {
    imagePaths.map((image, index) => {
      return (
        <PhotoWithModal id={index} imageSrc={image.url} alt={image.title} />
      );
    })
  }
</div>
