---
import PhotoWithModal from "./PhotoWithModal.astro";
const imagePaths: string[] = Astro.props.imagePaths;
---

<div class="mx-24 grid grid-cols-3 gap-8 mb-48">
  {
    imagePaths.map((imageSrc, index) => (
      <PhotoWithModal id={index} imageSrc={imageSrc} alt={imageSrc} />
    ))
  }
</div>
