---
import PhotoCard from "../../components/PhotoCard.astro";
import Layout from "../../layouts/Layout.astro";
import Carousel, { CarouselImage } from "../../components/Carousel";

const asiaImages: CarouselImage[] = [
  {
    url: "/work/story/hanoi/1.jpg",
    title: "Freecodecamp meetup Hanoi",
    desc: "Google translate is great at translating documentation! I had worked on a blog project with these guys, and it helped me realize how little React and Javascript I knew at the time.",
  },
  {
    url: "/work/story/hanoi/2.jpg",
    title: `Remote "Work" from Pai`,
    desc: "I was probably building my very first full stack SPA: a recipe app. The Roost stand and the Dell XPS took me far.",
  },
  {
    url: "/work/story/hanoi/3.jpg",
    title: `Dinner with the Relotalent team and friends`,
    desc: "I really have to thank the Relotalent team for giving me a shot. All I had to do was keenly listen to the issues of Italian politics. Thankfully my Python and SQL skills from a past life came clutch.",
  },
].map((img) => ({ ...img, alt: img.title }));

const berlinImages: CarouselImage[] = [
  {
    url: "/work/story/berlin/3.jpg",
    title: "Portfolio shoot with Moonfare",
    desc: `I didn't make the "Meet the Team" page, but it'll be difficult to top this LinkedIn profile photo.`,
  },
  {
    url: "/work/story/berlin/1.jpg",
    title: "Brandenburg Tor at night",
    desc: "The weird and fantastic city of Berlin.",
  },
  {
    url: "/work/story/berlin/2.jpg",
    title: "My first office space in Mindspace, Berlin",
    desc: "Jared Leto is not wrong, the coworking life is much better than cubicles.",
  },
].map((img) => ({ ...img, alt: img.title }));
---

<Layout title="My story">
  <h1 class="text-4xl mb-4">My story</h1>
  <div class="flex mb-4 flex-wrap my-6 justify-center">
    <p class="text-base">
      I stumbled on web development by coincidence. I was chatting with a
      stranger at a party, and they mentioned they were going through the
      <a
        class="text-blue-600 visited:text-purple-600"
        href="https://www.freecodecamp.org/"
        target="_blank">freecodecamp</a
      > curriculum to make a career switch. At the time, I was working as a product
      engineer, wearing many different hats. However, throughout the years I became
      conflicted by the lack of technical challeges of my position. Inspired by the
      story, I thought I'd give freecodecamp a try as well!
      <br />
      <br />
      It was not exactly love at first sight, but by the time I made it to the <code
        >React</code
      > part of the curriculum, I was hooked! I'd always enjoyed software development,
      however I was plagued by imposter syndrome. Making steady progress on the curriculum
      started to give me confidence.
      <br />
      <br />
      A few months down the road, I decided I would leave my career, and try my hand
      at being a digital nomad. I did not plan to be earning money, but I felt getting
      through the curriculum would provide a sense of progress and productivity.
      I set sail for Hanoi, Vietnam. The year long backpacking and digital nomading
      become a pivotal point in my life and career. I was able to get through critical
      parts of the curriculum, build a few projects, and even land a contract position.
      My initial projects' <code>Heroku</code> deploys are now dead, but here are
      a few pictures:
    </p>
    <!-- TODO: make these components -->

    <div class="my-8 ">
      <Carousel customImgClasses="h-96 object-contain" images={asiaImages} />
    </div>

    <p>
      After about a year in Asia, I decided I'd move to Berlin. This was the
      first time I realized how difficult
      <a
        class="text-blue-600 visited:text-purple-600"
        href="https://www.crackingthecodinginterview.com/"
        target="_blank">cracking the coding intreview</a
      >
      would be. Unfortunately, I was not aware of the book at the time, and also
      did not have the background in computer science. After many failed attempts,
      I landed my first full time software engineering job at Diginex. Once again,
      on the job, I realized how little I actually knew. Thankfully, there was enough
      downtime at work to support my thirst for deeper knowlegde. I really have to
      thank
      <a
        class="text-blue-600 visited:text-purple-600"
        href="https://www.coursera.org/"
        target="_blank">Coursera</a
      > for giving me access to university level courses for free. The knowledge
      and experience I gathered through these courses have made a big difference
      in my career. Similarly, my experience working in Berlin and the city's tech
      culture have made a big impact to my personal and professional life.
    </p>
    <div class="my-8">
      <Carousel
        customImgClasses="h-96 object-contain p-2"
        images={berlinImages}
      />
    </div>
  </div>
  <div>
    <p>
      At the height of COVID the pandemic, I realized it was time to come back
      home to Toronto, Canada. I am currently writing the next chapters here.
    </p>
    <img
      class="object-contain my-6 shadow-xl rounded-2xl"
      src="/work/story/toronto.jpg"
      alt="Toronto"
    />
  </div>
</Layout>
