---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import { ViewTransitions } from "astro:transitions";
export interface Props {
  title: string;
  hideHeader?: boolean;
  badgeText?: string;
}

const { title, hideHeader, badgeText } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script>
      import { themeChange } from "theme-change";
      themeChange();
      document.addEventListener("astro:after-swap", themeChange);
    </script>
    <script is:inline>
      const checkTheme = () => {
        // ☝️ This script prevent the FART effect.
        if (localStorage.getItem("theme") === null) {
          document.documentElement.setAttribute("data-theme", "light");
        } else
          document.documentElement.setAttribute(
            "data-theme",
            localStorage.getItem("theme"),
          );
        // "theme" LocalStorage value is set by the package to remember user preference.
        // The value is checked and applyed before rendering anything.
      };
      checkTheme();
      document.addEventListener("astro:after-swap", checkTheme);
    </script>

    <ViewTransitions />
  </head>
  <body>
    <Navigation />
    <div class="container mx-auto px-4 mb-24">
      {
        !hideHeader && (
          <>
            <div class="flex">
              <h1 class="text-4xl mb-4">{title}</h1>
              {badgeText && (
                <div class="badge badge-primary badge-outline mx-2">
                  {badgeText}
                </div>
              )}
            </div>
            <div class="divider" />
          </>
        )
      }
      <div class="mb-4 justify-center">
        <slot />
      </div>
    </div>
    <Footer />
  </body>
</html>
