---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import Layout from "./Layout.astro";
export interface Props {
  title: string;
}
---

<Layout title="Resume" hideHeader>
  <div class="container">
    <a href="/work/resume.pdf" download>
      <button class="btn btn-info my-4">
        <img class="w-6 h-6" src="/icons/download.svg" />
      </button>
    </a>
    <article class="prose prose-sm m-2 md:m-0">
      <slot />
    </article>
  </div>
</Layout>
